*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

#home{
    float: left;
    width: 280px;
    background-color: #d9d9d9;
    text-align: center;
    height: 200px;
    padding: 80px 0 0 0;
    font-size: 50px;
}

.menu{
    float: right;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-style: bold;
    text-align: center;
    background-color: #d9d9d9;
    height: 200px;
    width: 200px;
    font-size: 40px;
    font-weight: 700;
    padding: 80px 0 0 0;
}

.conteudo{
    clear: both;
}